body {
  margin: 0;
  padding: 0;
  font-family: GothamProRegular, sans-serif;
}

@font-face {
  font-family: 'GothamProRegular';
  src: url('./font/GothamProRegular.eot'); /* IE9 Compat Modes */
  src: url('./font/GothamProRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./font/GothamProRegular.woff') format('woff'), /* Pretty Modern Browsers */
  url('./font/GothamProRegular.ttf')  format('truetype') /* Safari, Android, iOS */
}
