.header {
    background-image: url(main.png);
    height: 975px;
    position: relative;
}

.header-bg{
    /* затемнитель: */
    opacity: 0.42;
    background: #000000;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
}

.header-block {
    width: 1742px;
    margin: 0 auto;
    padding-top: 40px;
    position: relative;
}

.header-logo {
    float: left;
    position: relative;
}

.header-logo-text {
    /* Изготовление гипсово: */
    max-width: 342px;
    float: left;
    width: 342px;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 46px;
    top: 26px;
    position: relative;
}

.header-logo-text::before {
    /* разделитель: */
    background: #BCB2AA;
    content: '';
    height: 57px;
    left: -25px;
    top: -10px;
    width: 5px;
    position: absolute;
}

.header-block-logo {}

.header-block-phone {
    position: relative;
    float: right;
}

.header-block-phone-line, .header-block-phone-line a {
    /* +38(095)519-44-2 / +: */
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 36px;
}

.header-block-phone-line a:hover {
    cursor: pointer;
}

.header-intro{
    /* Мы производим гипсов: */
    position: relative;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-top: 289px;
    margin-left: 160px;
}

.header-intro::before{
    height: 13px;
    width: 58px;
    position: absolute;
    left: -81px;
    top: 12px;
    content: '';
    /* прямоугольник возле текста: */
    background: #D3BFA6;
}

.header-block-top{
    clear: both;
}

.header-block-button{
    margin-left: 60px;
    margin-top: -51px;
}
