.footer{
    display: block;
    clear: both;
    position: relative;
}

.footer-bg {
    background: url("./bgFooter.png");
    height: 560px;
    position: absolute;
    width: 100%;
    top: -100px;
}

.footer-button{
    padding: 0;
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

.footer-button:active,
.footer-button:focus,
.footer-button:hover{
    outline: none;
}

.footer-block{
    width: 1767px;
    position: relative;
    margin: 194px auto 0;
}

.footer-block-phone a,
.footer-block-phone{
    text-decoration: none;
    font-size: 20px;
    color: #493F3F;
    letter-spacing: 0;
    line-height: 36px;
}

.footer-block-left{
    float: left;
}

.footer-block-right{
    float: left;
    margin-left: 560px;
}